.radioCustomLabel {
  width: 100%;
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
}
li {
  list-style-type: none; /* Убираем маркеры */
}
.item {
  border: 1px solid#007bff;
  text-align: center;
  justify-content: center;
  font-size: 1rem !important;
  display: flex;
  margin: 20px 0px;
  padding: 5px;
  z-index: 100;
  border-radius: 15px;
  margin-left: 0px;
  transition: 0.1s ease-in-out;
}
.landing .item:hover {

  color: white;
  background-color: #007bff;
}
input[type="checkbox"] {
  transform: scale(1.5);
}

input[type="checkbox"] {
  width: 30px;
  height: 1em;
  margin-right: 8px;
  cursor: pointer;
  font-size: 1em;
}
input[type="checkbox"]:after {
  content: " ";
  background-color: transparent;
  display: inline-block;
  margin-left: 10px;
  padding-bottom: 5px;
  color: #28a745;
  height: 1em;
  height: 25px;
  visibility: visible;

  padding-left: 3px;
}

input[type="checkbox"]:checked:after {
  content: "\2714";
  padding: -5px;
  font-weight: bold;
}
.item {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.item input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 6px;
  border: 1px solid #007bff;
  left: 10px;
  height: 21px;
  width: 22px;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.item :hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.item input:checked ~ .checkmark {
  background-color: #2196f3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.item input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.item .checkmark:after {
  left: 5px;
  top: 1px;
  width: 10px;
  height: 14px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}